:root {
  --mainBrown: #2d1e1f;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainBlue: #227be0;
  --lightGreen: #8cc63f;
  --darkGreen: #39b54a;
}

body {
  overflow-x: hidden !important;
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
}

button {
  border-style: none;
}

ul li {
  list-style: none;
}
ul {
  padding: 0px !important;
  list-style: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.none {
  display: none !important;
}

.bg-img {
  height: auto !important;
  max-width: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.home-background {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.colored-background {
  padding: 6rem;
}

.black-background {
  background: var(--mainDark);
  color: white !important;
}

.white-background {
  background: var(--mainwhite);
}

.grey-background {
  background: var(--mainGrey);
}

.h1-1 {
  font-weight: bold;
  color: #39b54a;
}

.white-background .h1-1 {
  color: var(--darkGreen);
}

.black-background .h1-1 {
  color: var(--lightGreen);
}

.li li {
  padding: 20px 10px 20px 10px !important;
}

.icon {
  font-size: 4pc !important;
  padding-bottom: 26px !important;
}

.li-4 {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.li-3 {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

/* mobile */
@media screen and (max-width: 525px) {
  .colored-background {
    padding: 2rem !important;
  }

  .li li {
    padding: 0px !important;
  }
}

.fullscreen-row {
  align-items: center !important;
  display: block;
  max-width: auto;
  margin: 0px !important;
  padding: 0px !important;
}

/* index */
.header {
  padding: 18px;
  background-color: var(--mainDark);
  color: white;
}

.header p {
  font-weight: bold;
}

.header h1 {
  color: var(--lightGreen);
}

/* about */
.about-title {
  padding: 2.5rem !important;
}

.about-title h1 {
  color: var(--darkGreen);
  font-weight: bold;
}

.step h2 {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 0px;
}

.instagram-link {
  color: black;
  font-size: 16px;
  padding-bottom: 10px;
}
.instagram-link:hover {
  color: var(--darkGreen);
  transition: 0.5s ease;
}

/* blog */
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 2rem;
}

.post-container {
  background-color: var(--mainGrey);
}

.page-container {
  padding: 10px 20px 10px 20px;
}

.page-heading {
  font-weight: bold;
  font-size: 2rem;
}

.author {
  text-align: center;
  padding: 23px 1.5rem 0px 1.5rem;
}

.author h3 {
  font-size: 1rem;
}

.author h4 {
  font-size: 1.5rem;
}
.card {
  padding: 1rem 4rem 2rem 4rem;
  margin: 1rem;
}

.card a {
  color: var(--darkGreen);
  font-weight: bold;
  letter-spacing: 2px !important;
}

.card a:hover {
  color: var(--lightGreen);
}

.card img {
  padding: 5px 0px 10px 0px;
}

.card h1 {
  padding: 25px 0px 0px 0px;
}

@media only screen and (max-width: 500px) {
  .card {
    padding: 1rem;
  }
}

/* campaign */

.total {
  font-size: 50px;
  font-weight: bold;
  margin: 26px 0px;
}

.learnmore {
  background-color: var(--mainWhite);
  position: absolute;
  color: #000;
  font-size: 30px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: 0.5s ease;
}

.learnmore a {
  color: var(--darkGreen);
  font-weight: bold;
}

.learnmore a:hover {
  color: var(--lightGreen);
  font-weight: bold;
  transition: 0.5s ease;
}

.sponsor {
  position: relative;
}

.sponsor:hover .learnmore {
  opacity: 1;
}

.sponsor img {
  padding: 5px 0px 10px 0px;
}

.sponsors {
  margin: 40px 0px 10px 0px;
}

/* footer */

.footer-center {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.footer {
  padding: 2rem 0;

  color: var(--mainWhite);
  background-color: var(--mainBlack);
  text-align: center;
  align-content: center !important;
}

.footer h5 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.footer p {
  width: 80%;
  margin: 0 auto;
}

.footer b {
  font-size: 16px;
}

.footer-btn {
  margin: 1rem;

  display: inline-block;
  text-decoration: none !important;
  letter-spacing: 3px;
  color: var(--mainWhite);
  background: var(--mainBlue);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--mainBlue);
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-btn:hover {
  text-decoration: none !important;
  background: transparent !important;
  color: var(--mainWhite) !important;
}

.footer form {
  display: block;
}

.seperator {
  width: 5rem;
  height: 2px;
  margin: 0px auto;
  background: var(--mainWhite);
}

.footer li {
  display: inline-block;
  margin: 6px;
}

.footer li a {
  text-decoration: none;
  color: var(--mainYellow);
}

.footer-sites {
  font: small-caps;
}

.footer-link {
  text-decoration: none;
  color: var(--primaryColor);
  text-transform: capitalize;
}

.footer-link li a:hover {
  color: var(--mainYellow);
  text-decoration: solid;
}

.footer a:hover {
  cursor: pointer;
}

.footer-title {
  letter-spacing: 3px;
  text-transform: capitalize;

  display: inline-block;

  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.footer-image {
  margin: 15px;
  position: relative;
  max-width: 15rem;
}

.footer-item span {
  align-content: center !important;
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .footer-center {
    width: 95vw;
    max-width: 1170px;
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media screen and (min-width: 1200px) {
  .footer p {
    width: 100%;
  }
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown) !important;
}
.btn-green {
  border-color: var(--darkGreen);
}
.btn-green:hover {
  color: white;
  background: var(--darkGreen);
}

.footer {
  background: var(--mainBrown);
}
.menu {
  background: var(--mainGrey);
}
